.container-latests{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2%;
    border-top:0.1rem solid black;

    
    
    width:90%;
    margin-left:5%;
    background-color:rgb(245,245,245) !important;
   

   
}
.wrapper-latest{
    display:flex;
    flex-direction:row;
   justify-content: center;

 
    
    width:100%;

}
.apartment-latests{

    display:flex;
    flex-direction:column;
    align-items:center;
    width:30%;
  
}
.apartment-title{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    padding:0.5rem;
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;

}
.image-latests{
    object-fit:contain;
    object-position:50% 50%;
    height:100px;
}
@media screen and (max-width:768px){
    .container-latests{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:2%;
        border-top:0.1rem solid black;
        
        width:90%;
       
    }
    .wrapper-latest{
        display:flex;
        flex-direction:column;
       justify-content: center;
       align-items:center;
     
        
        width:100%;
    
    }
    .apartment-latests{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:90%;
   
        margin-top:5%;
    }
    .apartment-title{
        display:flex;
        flex-direction:row;
        justify-content: center;
        width:100%;
        background-color:black;
        color:white;
    }
    .image-latests{
        object-fit:contain;
        object-position:50% 50%;
        width:100%;
        height:150px;
    }
}