.color-navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    padding:1.5rem;


}
.navImage{
    width:100px;

}
.addBorder{

    padding-left:0.4rem;
    padding-right:0.4rem;
}
.putinline{
    display:flex;
    flex-direction:row;
    align-items:center;

}
.changeDirection{
    color:white;
}
.change-color{
    color:white;
}
.change-background{
    background-color:white;
}
.nav-link{

    color:white;
}
.nav-link:active{
    color:aqua;
}