.with-bg{
    position:absolute;
    width:100%;
   
   
    
    
}
.with-bg::after{
    content:'';
    position:absolute;
    inset:0;
    width:100%;
    top:0;
    z-index:-1;
    background-image: url('https://imgur.com/M9AUfPQ.jpg');
    background-repeat:repeat-y;
  
    opacity:0.7;

}
.query-div{
    margin-top:10%;
}
.wrapper-heading{
    margin-left:5%;
    width:90%;
    height:50px;
    background-color:black;
    color:white;

}
.wrapper-columns{
    display: grid;
   
    grid-template:auto / 48% 48%;
    grid-template-areas:"apartment-containers";
    
    grid-gap:50px;
    overflow:auto;
    width:90%;
    margin-left:5%;
    background-color:rgb(245,245,245) !important;
 
   
    
}

.heading-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    width:100%;
}
.pagination-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.pagination {
 
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #030505 ;
    
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #0c1516
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
.apartment-containers{
  
 
    
    justify-content: center;
  
    box-shadow: 10px 10px 20px grey;
    width:80%;
    margin-left:5%;
    margin-top:5%;
   
 
}
.apartment-containers:hover{
    background-color:white;
}

.title-containers{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:black;
    color:white;
  
}
.carousel-container{

    height:300px;
}
.carousel-conts{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    height:300px;
  
    object-fit:contain;
 
    object-position:50% 50%;
    
  
  
}
.carousel-cpt{
    background-color:gray;
    margin-top:10%;
}

.main-image-containers{
    display:flex;
    flex-direction:row;

    justify-content:center;
    height:30%;
   
}

  .image-mains{
    width:100%;
    height:100%;
 
  }

.image-container-apartments{
    display:flex;
    flex-direction:row;
     justify-content: center;
    width:50%;
    height:40vh;
    padding:0.5rem;

    border:0.2rem solid orangered;
}
.multiple-images-containers{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.image-selects{
    margin-top:5%;
    
    
}
.data-containers{
    margin-top:2%;
    display:flex;
    flex-direction:column;
    border-top:0.1rem solid black;
    
    background-color:rgb(245,245,245);
}
.price-containers{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size:24px;
    font-weight:bold;
}
.about-apartments{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size:18px;
    
    font-weight:bold;
}
.apartment-divss{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
 
}
.divs-apartments{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:rgb(245,245,245);
    border:0.1rem solid black;
    justify-content: space-around;
    
    width:25%;
}
@media screen and (max-width:768px){
    .wrapper-columns{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width:90%;
        margin-left:5%;
        background-color:rgb(245,245,245) !important;
     
       
        
    }
    .price-containers{
        display:flex;
        flex-direction:row;
        justify-content: center;
        font-size:14px;
        font-weight:bold;
    }

    .about-apartments{
        display:flex;
        flex-direction:row;
        justify-content: center;
        font-size:16px;
        
        font-weight:bold;
    }
    .pagination-container{
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .pagination {
     
        margin: 15px auto;
        display: flex;
        list-style: none;
        outline: none;
      }
      .pagination > .active > a{
        background-color: #47ccde ;
        border-color: #47ccde ;
        color: #fff;
      }
      .pagination > li > a{
        border: 1px solid #030505 ;
        background-color:white;
        
        padding: 10px 10px;
        outline: none;
        cursor: pointer;
      }
      .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
        background-color: #47ccde ;
        border-color: #47ccde;
        outline: none ;
      }
      .pagination > li > a, .pagination > li > span{
        color: #0c1516
      }
      .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
        border-radius: unset
      }
}